{{#*inline "content"}}

<section class="card">
    <h1>LibraAlchemy</h1>
    <p>Craft your private audio library with open-source magic. Curate,
        personalize, and transmute your collection offline, powered by alchemy.</p>
</section>

<section style="margin-top: 4rem;">
    <ul>
        <li><a href="/books">Books ({{books_amount}})</a></li>
        <li><a href="/authors">Authors ({{authors_amount}})</a></li>
        <li><a href="/series">Series ({{series_amount}})</a></li>
    </ul>

</section>
{{/inline}}
{{> components/page}}