{{#*inline "content"}}

<section class="card">
    <h1>LibraAlchemy</h1>
    <p>Craft your private audio library with open-source magic. Curate,
        personalize, and transmute your collection offline, powered by alchemy.</p>
    <div class="btn-group">
        <a class="btn active" href="/books">Books</a>
        <a class="btn" href="/authors">Authors</a>
        <a class="btn" href="/series">Series</a>
    </div>
</section>

    {{> components/books_grid}}

{{/inline}}
{{> components/page}}