<div class="col">
    <div class="card shadow-sm">
        <img src="{{cover}}" class="bd-placeholder-img card-img-top" alt="{{title}}" aria-label="Placeholder: {{title}}">
        <div class="card-body">
            <p class="card-text">{{title}}</p>
        </div>
    </div>
</div>
